.navbar {
    margin-top: 20px;
}

.navbar img,
.footer img {
    height: 30px;
}

.container {
    margin-inline: 90px;
}

.tool {
    display: grid;
    grid-template: 'cube cube input code'
        'cube cube input code'
        'cube cube input code'
        'scale scale scale scale';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 240px;
    margin-top: 40px;
    min-height: 650px;
}

.step {
    background: #000;
    border: 1px solid #fff;
    padding: 30px;
}

.fa,
.step .svg-inline--fa {
    height: 18px;
    margin-block: auto;
}

.cube {
    grid-area: cube;
    padding: 0px;
}

.input {
    grid-area: input;
}

.score {
    grid-area: score;
}

.code {
    grid-area: code;
    font-variant: tabular-nums;
}

.scale {
    grid-column: 1 / span 4;
    row-gap: 20px;
    display: grid;
}

h1 {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 64px;
}

h2 {
    margin-bottom: 20px;
    font-size: 48px;
}

h3 {
    margin-bottom: 20px;
    font-size: 36px;
}

.lead {
    font-size: 24px;
    max-width: 850px;
}

.grey {
    display: grid;
    grid-template-columns: 3fr 6fr;
    min-height: 750px;
}

.grey .step {
    height: fit-content;
    margin-top: 80px;
    z-index: 1;
    position: relative;
}

.grey .step p:nth-child(3) {
    margin-top: 20px;
}

.grey .goo {
    position: relative;
}

.grey .goo .step {
    position: absolute;
    right: 0;
    top: 0%;
    bottom: 50%;
    left: -30%;
    height: 100%;
    margin-top: 0px;
    z-index: 0;
}

.footer {
    display: grid;
    grid-template-columns: 6fr 6fr;
    margin-bottom: 20px;
    margin-top: 120px;
}

.footer p {
    text-align: right;
}

.colors {
    max-height: 175px;
    overflow-y: scroll;
}

input {
    color: white;
    text-transform: uppercase;
}

.color-mode {
    grid-column: 1 / span 4;
}

.gradient-slider {
    grid-column: 1 / span 4;
}

.color-container {
    grid-template-rows: 1fr 1fr;
}

@media only screen and (max-width: 1200px) {
    .container {
        margin-inline: 10px;
    }

    .navbar {
        margin-top: 10px;
    }

    .tool {
        grid-template-columns: 1fr;
        grid-template: 'cube'
            'input'
            'scale'
            'code';
        margin-top: 20px;
    }

    .cube {
        width: 100%;
        min-height: 350px;
    }

    .color-mode,
    .gradient,
    .scale {
        grid-column: 1;
    }

    .scale {
        margin-bottom: 40px;
    }

    .color-container { 
        grid-template-rows: 1fr;
    }
}