* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  background: rgba(0, 0, 0);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
}

p,
span {
  color: rgba(255, 255, 255, 0.85);
}

p,
a,
span {
  font-weight: 300;
}

a,
label {
  color: #fff;
  font-weight: 900;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: rgba(255, 255, 255, 0.85);
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.65);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.navbar {
  margin-top: 20px;
}

.navbar img,
.footer img {
  height: 30px;
}

.container {
  margin-inline: 90px;
}

.tool {
  display: grid;
  grid-template: 'cube cube input score'
                 'cube cube input code';
  gap: 30px;
  margin-bottom: 240px;
  margin-top: 60px;
  min-height: 650px;
}

.step {
  background: #000;
  border: 1px solid #fff;
  padding: 30px;
}

.step .svg-inline--fa {
  font-size: 18px;
  margin-block: auto;
}

.cube {
  grid-area: cube;
  min-width: 500px;
  padding: 0px;
}

.input {
  grid-area: input;
}

.score {
  grid-area: score;
  min-width: 300px;
}

.code {
  grid-area: code;
  min-width: 300px;
}

h1 {
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 64px;
}

h2 {
  margin-bottom: 20px;
  font-size: 48px;
}

h3 {
  margin-bottom: 20px;
  font-size: 36px;
}

.lead {
  font-size: 24px;
  max-width: 850px;
}

.grey {
  display: grid;
  grid-template-columns: 3fr 6fr;
  min-height: 750px;
}

.grey .step {
  height: fit-content;
  margin-top: 80px;
  z-index: 1;
  position: relative;
}

.grey .step p:nth-child(3) {
  margin-top: 20px;
}

.grey .goo {
  position: relative;
}

.grey .goo .step {
  position: absolute;
  right: 0;
  top: 0%;
  bottom: 50%;
  left: -30%;
  height: 100%;
  margin-top: 0px;
  z-index: 0;
}

.footer {
  display: grid;
  grid-template-columns: 6fr 6fr;
  margin-bottom: 20px;
  margin-top: 120px;
}

.footer p {
  text-align: right;
}

.colors {
  max-height: 175px;
  overflow-y: scroll;
}

input {
  color: white;
  text-transform: uppercase;
}

.option-toggle {
  border: 1px solid #ffffff;
  color: white;
  border-radius: 50px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
  user-select: none;
  margin-top: 10px;
}

.option-toggle>div {
  padding: 5px 15px;
  border: 2px solid transparent;
  transition: .15s all ease-in-out;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.option-toggle>div:nth-child(2) {
  text-align: right;
}

.option-toggle.color { 
  grid-template-columns: 1fr;
  border: none;
}

.option-toggle.color>div {
  padding: 0px;
  display: grid;
}

.option-toggle>.active {
  border: 2px solid #fff;
  color: #fff;
}

.color-mode {
  display: grid;
  column-gap: 16px;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto auto auto auto;
  grid-column: 1 / span 4;
}

.color-mode .step {
  width: 100%;
  text-align: center;
  padding: 5px 15px;
  cursor: pointer;
  color: white;
  font-weight: 900;
}

.color-mode .step.active,
.color-mode .step:hover,
.color-mode .step:active,
.color-mode .step:focus {
  background: white;
  color: #000 !important;
}

.gradient {
  width: 100%;
  grid-column: 1 / span 4;
}